{
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react",
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": [
    "prettier",
    "jsx-a11y"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "prettier/prettier": "error",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/prop-types": 0,
    "react/sort-comp": 0,
    "no-underscore-dangle": 0,
    "import/no-extraneous-dependencies": 0,
    "import/imports-first": [
      "error",
      "absolute-first"
    ],
    "import/newline-after-import": "error",
    "import/no-cycle": 0,
    "no-use-before-define": 0,
    "no-console": 0,
    "class-methods-use-this": 0
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true
  },
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          [
            "app-component",
            "./src/component"
          ],
          [
            "app-assets",
            "./src/assets"
          ],
          [
            "app-api",
            "./src/api"
          ],
          [
            "app-common",
            "./src/common"
          ],
          [
            "app-realm",
            "./src/realm"
          ],
          [
            "app-config",
            "./src/config"
          ]
        ],
        "extensions": [
          ".ts",
          ".js",
          ".jsx",
          ".json"
        ]
      },
      "node": {
        "paths": [
          "./src"
        ],
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    }
  }
}